html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 16px;
}

.garden {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Major Mono Display', monospace;
}

.row {
  display: flex;
}

.square {
  height: 18px;
  width: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rock {
  flex-grow: 1;
}

/* DEBUG.
.activeSquare {
  background: #8f8;
}

.lastActiveSquare {
  background: #f88;
}
*/
