/* CSS files add styling rules to your content */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}