html,
body,
.garden {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	font-size: 16px;
}

.garden {
	display: flex;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Major Mono Display', monospace;
	color: #3f5;
}

.column {
	display: flex;
	flex-direction: column-reverse;
}

.square {
	height: 14px;
	width: 14px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
