/* CSS files add styling rules to your content */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  background: #f00;
}

.controls {
  text-align: left;
}

p, a {
  color: #000;
}
